.battles-heading {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.battles-wallpaper {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1.0s ease;
}
.battles-heading:hover .battles-wallpaper {
    transform: scale(1.05);
}
.battles-heading::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(
        circle at center,
        rgba(0,0,0,0.75) 0%,
        rgba(0,0,0,0.6) 40%,
        rgba(0,0,0,0.85) 100%
    );
}
.battles-overlay {
    font-family: 'Anton', sans-serif;
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
}
.battles-quote {
    font-size: 165px;
    letter-spacing: 3px;
    color: #ffffffaf;
    width: 80%;
    max-width: 1600px;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(0,0,0,0.8), 0 0 25px rgba(0,0,0,0.6), 0 0 40px rgba(0,0,0,0.5);
    transition: transform 1.0s ease;
}
.battle-video {
    width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
    filter: brightness(0.8);
    transition: 0.3s ease;
    box-shadow: 0 10px 40px rgba(50, 49, 49, 0.7);
}
.battle-video iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.battle-timeline {
    width: 80%;
    margin: 0 auto;
}
.battle-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 120px 0px;
}
.battle-entry:nth-child(even) {
    flex-direction: row-reverse;
}
.battle-info {
    position: relative;
    width: 40%;
    padding: 25px;
    background: linear-gradient(145deg, #111, #1a1a1a);
    border-radius: 12px;
}
.battle-info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 25px;
    width: 90px;
    height: 3px;
    background: #E50914;
}
.battle-video:hover {
    filter: brightness(1.05);
    transform: scale(1.05);
}
.video-thumbnail {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
}
.video-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.9);
    display: block;
    border-radius: 12px;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
    background: rgba(0,0,0,0.6);
    border-radius: 50%;
    padding: 15px 20px;
}
@media (max-width: 2900px) {
    .battles-quote {
        width: 80%;
        max-width: 1500px;
        font-size: 150px;
    }
    .battles-overlay p {
        font-size: 36px;
        letter-spacing: 3px;
    }
    .battle-timeline {
        width: 90%;
        margin: 140px auto 0;
    }
    .battle-entry {
        margin: 70px 0;
        gap: 30px;
    }
    .battle-video {
        width: 760px;
        height: 480px;
        max-width: 92%;
    }
    .play-button {
        font-size: 90px;
        padding: 14px 32px;
    }
    .battle-info {
        padding: 42px;
        width: 42%;
    }
    .battle-info::before {
        left: 42px;
        width: 220px;
        height: 4.5px;
    }
    .battle-tag {
        font-size: 34px;
    }
    .battle-info h2 {
        font-size: 42px;
        margin-bottom: 14px;
    }
    .battle-info p {
        font-size: 30px;
    }
}
@media (max-width: 2500px) {
    .battles-quote {
        width: 80%;
        max-width: 1315px;
        font-size: 130px;
    }
    .battles-overlay p {
        font-size: 32px;
        letter-spacing: 2.7px;
    }
    .battle-timeline {
        width: 90%;
        margin: 121px auto 0;
    }
    .battle-entry {
        margin: 62px 0;
        gap: 30px;
    }
    .battle-video {
        width: 664px;
        height: 420px;
        max-width: 92%;
    }
    .play-button {
        font-size: 78px;
        padding: 12px 28px;
    }
    .battle-info {
        padding: 37px;
        width: 42%;
    }
    .battle-info::before {
        left: 37px;
        width: 192px;
        height: 4px;
    }
    .battle-tag {
        font-size: 30px;
    }
    .battle-info h2 {
        font-size: 37px;
        margin-bottom: 12px;
    }
    .battle-info p {
        font-size: 27px;
    }
}
@media (max-width: 2200px) {
    .battles-quote {
        width: 80%;
        max-width: 1176px;
        font-size: 115px;
    }
    .battles-overlay p {
        font-size: 29px;
        letter-spacing: 2.5px;
    }
    .battle-timeline {
        width: 90%;
        margin: 107px auto 0;
    }
    .battle-entry {
        margin: 55px 0;
        gap: 30px;
    }
    .battle-video {
        width: 593px;
        height: 376px;
        max-width: 92%;
    }
    .play-button {
        font-size: 70px;
        padding: 11px 25px;
    }
    .battle-info {
        padding: 33px;
        width: 42%;
    }
    .battle-info::before {
        left: 33px;
        width: 171px;
        height: 3.6px;
    }
    .battle-tag {
        font-size: 27px;
    }
    .battle-info h2 {
        font-size: 33px;
        margin-bottom: 11px;
    }
    .battle-info p {
        font-size: 25px;
    }
}
@media (max-width: 2000px) {
    .battles-quote {
        width: 80%;
        max-width: 1084px;
        font-size: 105px;
    }
    .battles-overlay p {
        font-size: 28px;
        letter-spacing: 2.3px;
    }
    .battle-timeline {
        width: 90%;
        margin: 98px auto 0;
    }
    .battle-entry {
        margin: 51px 0;
        gap: 30px;
    }
    .battle-video {
        width: 545px;
        height: 346px;
        max-width: 92%;
    }
    .play-button {
        font-size: 64px;
        padding: 10px 24px;
    }
    .battle-info {
        padding: 31px;
        width: 42%;
    }
    .battle-info::before {
        left: 31px;
        width: 156px;
        height: 3.3px;
    }
    .battle-tag {
        font-size: 25px;
    }
    .battle-info h2 {
        font-size: 31px;
        margin-bottom: 10px;
    }
    .battle-info p {
        font-size: 23px;
    }
}
@media (max-width: 1800px) {
    .battles-quote {
        width: 80%;
        max-width: 991px;
        font-size: 95px;
    }
    .battles-overlay p {
        font-size: 26px;
        letter-spacing: 2.1px;
    }
    .battle-timeline {
        width: 90%;
        margin: 88px auto 0;
    }
    .battle-entry {
        margin: 47px 0;
        gap: 30px;
    }
    .battle-video {
        width: 497px;
        height: 316px;
        max-width: 92%;
    }
    .play-button {
        font-size: 58px;
        padding: 9px 22px;
    }
    .battle-info {
        padding: 28px;
        width: 42%;
    }
    .battle-info::before {
        left: 28px;
        width: 142px;
        height: 3.1px;
    }
    .battle-tag {
        font-size: 23px;
    }
    .battle-info h2 {
        font-size: 28px;
        margin-bottom: 9px;
    }
    .battle-info p {
        font-size: 21px;
    }
}
@media (max-width: 1600px) {
    .battles-quote {
        width: 80%;
        max-width: 898px;
        font-size: 85px;
    }
    .battles-overlay p {
        font-size: 24px;
        letter-spacing: 2px;
    }
    .battle-timeline {
        width: 90%;
        margin: 79px auto 0;
    }
    .battle-entry {
        margin: 42px 0;
        gap: 30px;
    }
    .battle-video {
        width: 449px;
        height: 286px;
        max-width: 92%;
    }
    .play-button {
        font-size: 52px;
        padding: 8px 20px;
    }
    .battle-info {
        padding: 26px;
        width: 42%;
    }
    .battle-info::before {
        left: 26px;
        width: 128px;
        height: 2.8px;
    }
    .battle-tag {
        font-size: 21px;
    }
    .battle-info h2 {
        font-size: 26px;
        margin-bottom: 8px;
    }
    .battle-info p {
        font-size: 20px;
    }
}
@media (max-width: 1400px) {
    .battles-quote {
        width: 80%;
        max-width: 806px;
        font-size: 75px;
    }
    .battles-overlay p {
        font-size: 22px;
        letter-spacing: 1.8px;
    }
    .battle-timeline {
        width: 90%;
        margin: 69px auto 0;
    }
    .battle-entry {
        margin: 38px 0;
        gap: 30px;
    }
    .battle-video {
        width: 401px;
        height: 256px;
        max-width: 92%;
    }
    .play-button {
        font-size: 46px;
        padding: 7px 18px;
    }
    .battle-info {
        padding: 23px;
        width: 42%;
    }
    .battle-info::before {
        left: 23px;
        width: 114px;
        height: 2.6px;
    }
    .battle-tag {
        font-size: 19px;
    }
    .battle-info h2 {
        font-size: 23px;
        margin-bottom: 8px;
    }
    .battle-info p {
        font-size: 18px;
    }
}
@media (max-width: 1200px) {
    .battles-quote {
        width: 80%;
        max-width: 713px;
        font-size: 65px;
    }
    .battles-overlay p {
        font-size: 20px;
        letter-spacing: 1.7px;
    }
    .battle-timeline {
        width: 90%;
        margin: 60px auto 0;
    }
    .battle-entry {
        margin: 34px 0;
        gap: 30px;
    }
    .battle-video {
        width: 353px;
        height: 227px;
        max-width: 92%;
    }
    .play-button {
        font-size: 41px;
        padding: 6px 16px;
    }
    .battle-info {
        padding: 21px;
        width: 42%;
    }
    .battle-info::before {
        left: 21px;
        width: 100px;
        height: 2.3px;
    }
    .battle-tag {
        font-size: 17px;
    }
    .battle-info h2 {
        font-size: 21px;
        margin-bottom: 7px;
    }
    .battle-info p {
        font-size: 17px;
    }
}
@media (max-width: 1000px) {
    .battles-quote {
        width: 80%;
        max-width: 621px;
        font-size: 55px;
    }
    .battles-overlay p {
        font-size: 18px;
        letter-spacing: 1.5px;
    }
    .battle-timeline {
        width: 90%;
        margin: 51px auto 0;
    }
    .battle-entry {
        margin: 30px 0;
        gap: 30px;
    }
    .battle-video {
        width: 305px;
        height: 197px;
        max-width: 92%;
    }
    .play-button {
        font-size: 35px;
        padding: 5px 14px;
    }
    .battle-info {
        padding: 18px;
        width: 42%;
    }
    .battle-info::before {
        left: 18px;
        width: 86px;
        height: 2px;
    }
    .battle-tag {
        font-size: 15px;
    }
    .battle-info h2 {
        font-size: 18px;
        margin-bottom: 6px;
    }
    .battle-info p {
        font-size: 15px;
    }
}
@media (max-width: 800px) {
    .battles-quote {
        width: 80%;
        max-width: 528px;
        font-size: 45px;
    }
    .battles-overlay p {
        font-size: 16px;
        letter-spacing: 1.4px;
    }
    .battle-timeline {
        width: 90%;
        margin: 41px auto 0;
    }
    .battle-entry {
        margin: 26px 0;
        gap: 30px;
        flex-direction: column;
    }
    .battle-entry:nth-child(even) {
        flex-direction: column;
    }
    .battle-video {
        width: 258px;
        height: 167px;
        max-width: 92%;
    }
    .play-button {
        font-size: 29px;
        padding: 4px 12px;
    }
    .battle-info {
        padding: 16px;
        width: 90%;
    }
    .battle-info::before {
        left: 16px;
        width: 72px;
        height: 1.8px;
    }
    .battle-tag {
        font-size: 13px;
    }
    .battle-info h2 {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .battle-info p {
        font-size: 14px;
    }
}
@media (max-width: 600px) {
    .battles-quote {
        width: 80%;
        max-width: 436px;
        font-size: 35px;
    }
    .battles-overlay p {
        font-size: 14px;
        letter-spacing: 1.2px;
    }
    .battle-timeline {
        width: 90%;
        margin: 32px auto 0;
    }
    .battle-entry {
        margin: 21px 0;
        gap: 30px;
        flex-direction: column;
    }
    .battle-entry:nth-child(even) {
        flex-direction: column;
    }
    .battle-video {
        width: 210px;
        height: 137px;
        max-width: 92%;
    }
    .play-button {
        font-size: 23px;
        padding: 3px 10px;
    }
    .battle-info {
        padding: 13px;
        width: 90%;
    }
    .battle-info::before {
        left: 13px;
        width: 58px;
        height: 1.5px;
    }
    .battle-tag {
        font-size: 11px;
    }
    .battle-info h2 {
        font-size: 13px;
        margin-bottom: 4px;
    }
    .battle-info p {
        font-size: 12px;
    }
}
@media (max-width: 450px) {
    .battles-quote {
        width: 80%;
        max-width: 366px;
        font-size: 27px;
    }
    .battles-overlay p {
        font-size: 13px;
        letter-spacing: 1.1px;
    }
    .battle-timeline {
        width: 90%;
        margin: 25px auto 0;
    }
    .battle-entry {
        margin: 18px 0;
        gap: 30px;
        flex-direction: column;
    }
    .battle-entry:nth-child(even) {
        flex-direction: column;
    }
    .battle-video {
        width: 174px;
        height: 115px;
        max-width: 92%;
    }
    .play-button {
        font-size: 19px;
        padding: 2px 9px;
    }
    .battle-info {
        padding: 11px;
        width: 90%;
    }
    .battle-info::before {
        left: 11px;
        width: 47px;
        height: 1.3px;
    }
    .battle-tag {
        font-size: 10px;
    }
    .battle-info h2 {
        font-size: 11px;
        margin-bottom: 3px;
    }
    .battle-info p {
        font-size: 11px;
    }
}
@media (max-width: 350px) {
    .battles-quote {
        width: 80%;
        max-width: 320px;
        font-size: 22px;
    }
    .battles-overlay p {
        font-size: 12px;
        letter-spacing: 1px;
    }
    .battle-timeline {
        width: 90%;
        margin: 20px auto 0;
    }
    .battle-entry {
        margin: 16px 0;
        gap: 30px;
        flex-direction: column;
    }
    .battle-entry:nth-child(even) {
        flex-direction: column;
    }
    .battle-video {
        width: 150px;
        height: 100px;
        max-width: 92%;
    }
    .play-button {
        font-size: 16px;
        padding: 2px 8px;
    }
    .battle-info {
        padding: 10px;
        width: 90%;
    }
    .battle-info::before {
        left: 10px;
        width: 40px;
        height: 1.2px;
    }
    .battle-tag {
        font-size: 9px;
    }
    .battle-info h2 {
        font-size: 10px;
        margin-bottom: 3px;
    }
    .battle-info p {
        font-size: 10px;
    }
}

