.conquests-heading {
    position: relative;
    height: auto;
    width: 100%;
    overflow: hidden;
}
.conquests-wallpaper {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1.0s ease;
}
.conquests-heading:hover .conquests-wallpaper {
    transform: scale(1.05);
}
.conquests-heading::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(
        circle at center,
        rgba(0,0,0,0.75) 0%,
        rgba(0,0,0,0.6) 40%,
        rgba(0,0,0,0.85) 100%
    );
}
.conquests-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
}
.conquests-quote {
    font-family: 'Anton', sans-serif;
    font-size: 165px;
    letter-spacing: 3px;
    color: #ffffffaf;
    width: 80%;
    max-width: 1300px;
    text-shadow:
        0 0 10px rgba(0,0,0,0.8),
        0 0 25px rgba(0,0,0,0.6),
        0 0 40px rgba(0,0,0,0.5);

}
.conquests-page {
    background: radial-gradient(circle at center, #0a0a0a, #000);
    padding-bottom: 100px;
}
.conquests-hero {
    text-align: center;
    padding: 130px 20px 75px;
}

.conquests-hero h1 {
    font-family: 'Anton', sans-serif;
    font-size: 185px;
    letter-spacing: 5px;
    color: #fff;
}

.subtitle {
    color: #888;
    letter-spacing: 3px;
    margin-top: 10px;
}
.timeline {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(
        to bottom,
        transparent,
        #E50914,
        transparent
    );
}
.timeline-item {
    position: relative;
    width: 50%;
    padding: 40px 40px;
}
.timeline-item.left {
    left: 0;
    text-align: right;
}
.timeline-item.right {
    left: 50%;
}
.timeline-content {
    background: linear-gradient(145deg, #0f0f0f, #1a1a1a);
    padding: 20px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.05);
    transition: all 0.3s ease;
}
.timeline-content:hover {
    transform: translateY(-5px) scale(1.01);
    border: 1px solid rgba(229, 9, 20, 0.5);
}
.timeline-content img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}
.timeline-content h2 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: #f1f1f1;
    margin-bottom: 10px;
}
.timeline-content p {
    font-size: 14px;
    line-height: 1.7;
    color: #aaa;
}
.timeline-item::before {
    content: "";
    position: absolute;
    top: 50px;
    width: 12px;
    height: 12px;
    background: #E50914;
    border-radius: 50%;
    box-shadow: 0 0 10px #E50914;
}
.timeline-item.left::before {
    right: -6px;
}
.timeline-item.right::before {
    left: -6px;
}
@media (max-width: 2900px) {
    .conquests-quote {
        font-size: 150px;
    }
    .conquests-hero {
        margin-bottom: 120px;
        padding: 100px 20px 70px;
    }
    .conquests-hero h1 {
        font-size: 170px;
        letter-spacing: 5px;
    }
    .subtitle {
        font-size: 32px;
    }
    .timeline-item {
        padding: 50px 50px;
    }
    .timeline-item::before {
        top: 50px;
    }
    .timeline-content {
        padding: 38px;
    }
    .timeline-content img {
        height: 480px;
        margin-bottom: 42px;
    }
    .timeline-content h2 {
        font-size: 52px;
        margin-bottom: 20px;
    }
    .timeline-content p {
        font-size: 32px;
    }
}
@media (max-width: 2500px) {
    .conquests-quote {
        font-size: 129px;
    }
    .conquests-hero {
        margin-bottom: 104px;
        padding: 88px 20px 62px;
    }
    .conquests-hero h1 {
        font-size: 147px;
        letter-spacing: 4.4px;
    }
    .subtitle {
        font-size: 29px;
    }
    .timeline-item {
        padding: 44px 44px;
    }
    .timeline-item::before {
        top: 45px;
    }
    .timeline-content {
        padding: 34px;
    }
    .timeline-content img {
        height: 413px;
        margin-bottom: 36px;
    }
    .timeline-content h2 {
        font-size: 45px;
        margin-bottom: 17px;
    }
    .timeline-content p {
        font-size: 29px;
    }
}
@media (max-width: 2300px) {
    .conquests-quote {
        font-size: 119px;
    }
    .conquests-hero {
        margin-bottom: 96px;
        padding: 82px 20px 58px;
    }
    .conquests-hero h1 {
        font-size: 135px;
        letter-spacing: 4.1px;
    }
    .subtitle {
        font-size: 27px;
    }
    .timeline-item {
        padding: 41px 41px;
    }
    .timeline-item::before {
        top: 42px;
    }
    .timeline-content {
        padding: 32px;
    }
    .timeline-content img {
        height: 380px;
        margin-bottom: 33px;
    }
    .timeline-content h2 {
        font-size: 42px;
        margin-bottom: 16px;
    }
    .timeline-content p {
        font-size: 27px;
    }
}
@media (max-width: 2000px) {
    .conquests-quote {
        font-size: 103px;
    }
    .conquests-hero {
        margin-bottom: 84px;
        padding: 74px 20px 53px;
    }
    .conquests-hero h1 {
        font-size: 118px;
        letter-spacing: 3.6px;
    }
    .subtitle {
        font-size: 24px;
    }
    .timeline-item {
        padding: 37px 37px;
    }
    .timeline-item::before {
        top: 38px;
    }
    .timeline-content {
        padding: 28px;
    }
    .timeline-content img {
        height: 329px;
        margin-bottom: 28px;
    }
    .timeline-content h2 {
        font-size: 37px;
        margin-bottom: 14px;
    }
    .timeline-content p {
        font-size: 24px;
    }
}
@media (max-width: 1800px) {
    .conquests-quote {
        font-size: 93px;
    }
    .conquests-hero {
        margin-bottom: 76px;
        padding: 68px 20px 49px;
    }
    .conquests-hero h1 {
        font-size: 107px;
        letter-spacing: 3.3px;
    }
    .subtitle {
        font-size: 23px;
    }
    .timeline-item {
        padding: 34px 34px;
    }
    .timeline-item::before {
        top: 36px;
    }
    .timeline-content {
        padding: 26px;
    }
    .timeline-content img {
        height: 296px;
        margin-bottom: 25px;
    }
    .timeline-content h2 {
        font-size: 34px;
        margin-bottom: 13px;
    }
    .timeline-content p {
        font-size: 23px;
    }
}
@media (max-width: 1600px) {
    .conquests-quote {
        font-size: 82px;
    }
    .conquests-hero {
        margin-bottom: 68px;
        padding: 62px 20px 45px;
    }
    .conquests-hero h1 {
        font-size: 95px;
        letter-spacing: 3px;
    }
    .subtitle {
        font-size: 21px;
    }
    .timeline-item {
        padding: 31px 31px;
    }
    .timeline-item::before {
        top: 33px;
    }
    .timeline-content {
        padding: 24px;
    }
    .timeline-content img {
        height: 262px;
        margin-bottom: 22px;
    }
    .timeline-content h2 {
        font-size: 30px;
        margin-bottom: 12px;
    }
    .timeline-content p {
        font-size: 21px;
    }
}
@media (max-width: 1400px) {
    .conquests-quote {
        font-size: 72px;
    }
    .conquests-hero {
        margin-bottom: 59px;
        padding: 56px 20px 41px;
    }
    .conquests-hero h1 {
        font-size: 83px;
        letter-spacing: 2.7px;
    }
    .subtitle {
        font-size: 19px;
    }
    .timeline-item {
        padding: 28px 28px;
    }
    .timeline-item::before {
        top: 30px;
    }
    .timeline-content {
        padding: 22px;
    }
    .timeline-content img {
        height: 229px;
        margin-bottom: 19px;
    }
    .timeline-content h2 {
        font-size: 27px;
        margin-bottom: 10px;
    }
    .timeline-content p {
        font-size: 19px;
    }
}
@media (max-width: 1200px) {
    .conquests-quote {
        font-size: 62px;
    }
    .conquests-hero {
        margin-bottom: 51px;
        padding: 50px 20px 37px;
    }
    .conquests-hero h1 {
        font-size: 72px;
        letter-spacing: 2.4px;
    }
    .subtitle {
        font-size: 18px;
    }
    .timeline-item {
        padding: 25px 25px;
    }
    .timeline-item::before {
        top: 28px;
    }
    .timeline-content {
        padding: 20px;
    }
    .timeline-content img {
        height: 196px;
        margin-bottom: 16px;
    }
    .timeline-content h2 {
        font-size: 24px;
        margin-bottom: 9px;
    }
    .timeline-content p {
        font-size: 18px;
    }
}
@media (max-width: 1000px) {
    .conquests-quote {
        font-size: 51px;
    }
    .conquests-hero {
        margin-bottom: 43px;
        padding: 44px 20px 33px;
    }
    .conquests-hero h1 {
        font-size: 60px;
        letter-spacing: 2.1px;
    }
    .subtitle {
        font-size: 16px;
    }
    .timeline-item {
        padding: 22px 22px;
    }
    .timeline-item::before {
        top: 25px;
    }
    .timeline-content {
        padding: 18px;
    }
    .timeline-content img {
        height: 162px;
        margin-bottom: 13px;
    }
    .timeline-content h2 {
        font-size: 21px;
        margin-bottom: 8px;
    }
    .timeline-content p {
        font-size: 16px;
    }
}
@media (max-width: 900px) {
    .conquests-quote {
        font-size: 46px;
    }
    .conquests-hero {
        margin-bottom: 39px;
        padding: 42px 20px 32px;
    }
    .conquests-hero h1 {
        font-size: 55px;
        letter-spacing: 1.9px;
    }
    .subtitle {
        font-size: 15px;
    }
    .timeline {
        width: 92%;
    }
    .timeline-item, .timeline-item.left, .timeline-item.right {
        width: 100%;
        left: 0;
        text-align: left;
        padding: 21px 0 21px 26px;
    }
    .timeline-item.left::before, .timeline-item.right::before {
        left: 0;
        right: auto;
    }
    .timeline-item::before {
        top: 24px;
    }
    .timeline-content {
        padding: 16px;
    }
    .timeline-content img {
        height: 145px;
        margin-bottom: 11px;
    }
    .timeline-content h2 {
        font-size: 19px;
        margin-bottom: 7px;
    }
    .timeline-content p {
        font-size: 15px;
    }
}
@media (max-width: 800px) {
    .conquests-quote {
        font-size: 41px;
    }
    .conquests-hero {
        margin-bottom: 35px;
        padding: 39px 20px 30px;
    }
    .conquests-hero h1 {
        font-size: 49px;
        letter-spacing: 1.8px;
    }
    .subtitle {
        font-size: 14px;
    }
    .timeline {
        width: 92%;
    }
    .timeline-item, .timeline-item.left, .timeline-item.right {
        width: 100%;
        left: 0;
        text-align: left;
        padding: 19px 0 19px 26px;
    }
    .timeline-item.left::before, .timeline-item.right::before {
        left: 0;
        right: auto;
    }
    .timeline-item::before {
        top: 23px;
    }
    .timeline-content {
        padding: 15px;
    }
    .timeline-content img {
        height: 129px;
        margin-bottom: 10px;
    }
    .timeline-content h2 {
        font-size: 17px;
        margin-bottom: 6px;
    }
    .timeline-content p {
        font-size: 14px;
    }
}
@media (max-width: 700px) {
    .conquests-quote {
        font-size: 36px;
    }
    .conquests-hero {
        margin-bottom: 31px;
        padding: 36px 20px 28px;
    }
    .conquests-hero h1 {
        font-size: 43px;
        letter-spacing: 1.6px;
    }
    .subtitle {
        font-size: 13px;
    }
    .timeline {
        width: 92%;
    }
    .timeline-item, .timeline-item.left, .timeline-item.right {
        width: 100%;
        left: 0;
        text-align: left;
        padding: 18px 0 18px 26px;
    }
    .timeline-item.left::before, .timeline-item.right::before {
        left: 0;
        right: auto;
    }
    .timeline-item::before {
        top: 21px;
    }
    .timeline-content {
        padding: 14px;
    }
    .timeline-content img {
        height: 112px;
        margin-bottom: 8px;
    }
    .timeline-content h2 {
        font-size: 16px;
        margin-bottom: 6px;
    }
    .timeline-content p {
        font-size: 13px;
    }
}
@media (max-width: 600px) {
    .conquests-quote {
        font-size: 31px;
    }
    .conquests-hero {
        margin-bottom: 27px;
        padding: 33px 20px 26px;
    }
    .conquests-hero h1 {
        font-size: 37px;
        letter-spacing: 1.5px;
    }
    .subtitle {
        font-size: 13px;
    }
    .timeline {
        width: 92%;
    }
    .timeline-item, .timeline-item.left, .timeline-item.right {
        width: 100%;
        left: 0;
        text-align: left;
        padding: 16px 0 16px 26px;
    }
    .timeline-item.left::before, .timeline-item.right::before {
        left: 0;
        right: auto;
    }
    .timeline-item::before {
        top: 20px;
    }
    .timeline-content {
        padding: 13px;
    }
    .timeline-content img {
        height: 95px;
        margin-bottom: 7px;
    }
    .timeline-content h2 {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .timeline-content p {
        font-size: 13px;
    }
}
@media (max-width: 500px) {
    .conquests-quote {
        font-size: 25px;
    }
    .conquests-hero {
        margin-bottom: 23px;
        padding: 30px 20px 24px;
    }
    .conquests-hero h1 {
        font-size: 32px;
        letter-spacing: 1.3px;
    }
    .subtitle {
        font-size: 12px;
    }
    .timeline {
        width: 92%;
    }
    .timeline-item, .timeline-item.left, .timeline-item.right {
        width: 100%;
        left: 0;
        text-align: left;
        padding: 15px 0 15px 26px;
    }
    .timeline-item.left::before, .timeline-item.right::before {
        left: 0;
        right: auto;
    }
    .timeline-item::before {
        top: 19px;
    }
    .timeline-content {
        padding: 12px;
    }
    .timeline-content img {
        height: 78px;
        margin-bottom: 5px;
    }
    .timeline-content h2 {
        font-size: 12px;
        margin-bottom: 4px;
    }
    .timeline-content p {
        font-size: 12px;
    }
}
@media (max-width: 400px) {
    .conquests-quote {
        font-size: 20px;
    }
    .conquests-hero {
        margin-bottom: 19px;
        padding: 27px 20px 22px;
    }
    .conquests-hero h1 {
        font-size: 26px;
        letter-spacing: 1.2px;
    }
    .subtitle {
        font-size: 11px;
    }
    .timeline {
        width: 92%;
    }
    .timeline-item, .timeline-item.left, .timeline-item.right {
        width: 100%;
        left: 0;
        text-align: left;
        padding: 13px 0 13px 26px;
    }
    .timeline-item.left::before, .timeline-item.right::before {
        left: 0;
        right: auto;
    }
    .timeline-item::before {
        top: 17px;
    }
    .timeline-content {
        padding: 11px;
    }
    .timeline-content img {
        height: 62px;
        margin-bottom: 4px;
    }
    .timeline-content h2 {
        font-size: 11px;
        margin-bottom: 4px;
    }
    .timeline-content p {
        font-size: 11px;
    }
}
@media (max-width: 350px) {
    .conquests-quote {
        font-size: 18px;
    }
    .conquests-hero {
        margin-bottom: 17px;
        padding: 25px 20px 21px;
    }
    .conquests-hero h1 {
        font-size: 23px;
        letter-spacing: 1.1px;
    }
    .subtitle {
        font-size: 10px;
    }
    .timeline {
        width: 92%;
    }
    .timeline-item, .timeline-item.left, .timeline-item.right {
        width: 100%;
        left: 0;
        text-align: left;
        padding: 13px 0 13px 26px;
    }
    .timeline-item.left::before, .timeline-item.right::before {
        left: 0;
        right: auto;
    }
    .timeline-item::before {
        top: 17px;
    }
    .timeline-content {
        padding: 11px;
    }
    .timeline-content img {
        height: 53px;
        margin-bottom: 3px;
    }
    .timeline-content h2 {
        font-size: 10px;
        margin-bottom: 3px;
    }
    .timeline-content p {
        font-size: 10px;
    }
}
@media (max-width: 300px) {
    .conquests-quote {
        font-size: 15px;
    }
    .conquests-hero {
        margin-bottom: 15px;
        padding: 24px 20px 20px;
    }
    .conquests-hero h1 {
        font-size: 20px;
        letter-spacing: 1px;
    }
    .subtitle {
        font-size: 10px;
    }
    .timeline {
        width: 92%;
    }
    .timeline-item, .timeline-item.left, .timeline-item.right {
        width: 100%;
        left: 0;
        text-align: left;
        padding: 12px 0 12px 26px;
    }
    .timeline-item.left::before, .timeline-item.right::before {
        left: 0;
        right: auto;
    }
    .timeline-item::before {
        top: 16px;
    }
    .timeline-content {
        padding: 10px;
    }
    .timeline-content img {
        height: 45px;
        margin-bottom: 2px;
    }
    .timeline-content h2 {
        font-size: 9px;
        margin-bottom: 3px;
    }
    .timeline-content p {
        font-size: 10px;
    }
}

